.App {
  text-align: center;
}

.card {
  height: 50vh !important;
  margin: 10px !important;
}

.card-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: scale-down !important;
}

.card-image-container {
  height: 70% !important;
  width: 100% !important;
}

.content {
  overflow: auto;

}

.bottom-margin {
  margin-bottom: 50px !important;
}

div[class='hidden content'] {
  overflow: hidden;
}

h3[class="ui brown block header"]::before{
    height: 0px !important;
}

.ui.products-list.grid {
  margin-top: 20px;
}

[class='visible content'] {
  overflow: hidden;
}
div[class='header title'] {
  height: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.big-font {
  font-size: 1.5em;
  color: red;
}

.scrollable {
  overflow: auto;
  height: 100%;
}

.description {
  max-width: 250px;
  max-height: 250px;
  /* overflow: hidden;
  position: relative; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* .description::after{
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
    color: black
} */